services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
      target: production
    environment:
      NODE_ENV: production

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: production
    ports:
      - "80:80"
